<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Token</title>
</head>
<body>
    <nev>
        <dev>
            <h4>Home</h4>
            <h4>...</h4>
            <h4>Thai</h4>
        </dev>
    </nev>
    <h1>Generate JWT Token</h1>
    <form action="/generate-token" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Generate Token</button>
    </form>
</body>
</html>
